
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  background-color: transparent;
}

body {
  margin: 0;
  font-family: "Avant Garde", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  min-height: 100vh;
}
