@font-face {
  font-family: "Avant Garde";
  src: url("static/fonts/ITCAvantGardeStdBk.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avant Garde Bold";
  src: url("@/static/fonts/ITCAvantGardeStdBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avant Garde Extra-Bold";
  src: url("@/static/fonts/ITCAvantGardeStdXLt.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avant Garde Semi-Bold";
  src: url("@/static/fonts/ITCAvantGardeStdMd.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
